services:
  aws.greengrass.Nucleus:
    componentType: NUCLEUS
    parameters:
      runWithDefault:
        posixUser: nobody

  main:
    dependencies:
      - service_with_dynamic_config
      - aws.greengrass.Nucleus
    lifecycle:
      posix:
        run:
          echo "Running main" && sleep 100
      windows:
        run:
          powershell -command echo \"Running main\"; sleep 1000
  service_with_dynamic_config:
    lifecycle:
      install:
        echo "Installing service_with_dynamic_config"
      run:
        posix:
          echo "Running service_with_dynamic_config" && sleep 1000
        windows:
          powershell -command echo \"Running service_with_dynamic_config\"; sleep 1000
    version: 1.0.0
    setenv:
      my_env_var: var1
    parameters:
      my_custom_key: 'my_custom_initial_value'
