**/target/
.DS_Store
._*
*.class
*.jar
!lib/*.jar
!android/greengrass-nucleus-android/libs/*.jar
!android/gradle/wrapper/gradle-wrapper.jar
*~
*.log*
*.metrics
core
.idea
artifact_cache
package.db
coverage
*.iml
jmh-result.json
work
bin
/config
