**/target/
.DS_Store
._*
*.class
#needed for android!!! may be it is a temp solution
#*.jar
!lib/*.jar
*~
*.log*
*.metrics
core
.idea
artifact_cache
package.db
coverage
*.iml
jmh-result.json
work
bin
/config
