[Unit]
Description=Greengrass Core
After=network.target

[Service]
Type=simple
PIDFile=REPLACE_WITH_GG_LOADER_PID_FILE
RemainAfterExit=no
Restart=on-failure
RestartSec=10
ExecStart=/bin/sh REPLACE_WITH_GG_LOADER_FILE

[Install]
WantedBy=multi-user.target
