name: Benchmark

on:
  push:
    branches:
      - main

jobs:
  benchmark:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Build EG with Maven
        run: mvn -ntp -U install -DskipTests
      - name: Build benchmark with Maven
        run: mvn -ntp -U -f src/test/greengrass-nucleus-benchmark install
      - name: JMH Benchmark
        # The JVM arguments provided below are intended to tune the JVM to keep the heap as small as possible
        # and to release unused heap space back to the OS
        # -foe is "fail on error" so that if an error happens, then the benchmark will be failed instead of silently
        # pass
        run: >-
          java -jar src/test/greengrass-nucleus-benchmark/target/benchmarks.jar
          -rf json
          -foe true
          -jvmArgs "-Xms1m -Xmx64m -XX:MaxHeapFreeRatio=10 -XX:MinHeapFreeRatio=5 -XX:GCTimeRatio=19
          -XX:NativeMemoryTracking=summary -Xss232k"
          -prof com.aws.greengrass.jmh.profilers.ForcedGcMemoryProfiler
      - run: rm -rf ~/.m2/repository/com/aws/greengrass/nucleus
        continue-on-error: true
        if: always()
      - name: Upload JMH Result
        uses: actions/upload-artifact@v1.0.0
        with:
          name: JMH Report
          path: jmh-result.json
      - name: Upload to CloudWatch
        env:
          AWS_DEFAULT_REGION: us-west-2
        run: >-
          pip3 -q install boto3 setuptools wheel &&
          pip3 -q install retryable agithub &&
          python3 .github/scripts/cwJMHUpload.py
